<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flrjcx.xypt.mapper.LoginMapper">
    <resultMap id="userModel" type="com.flrjcx.xypt.common.model.param.common.UserVo">
        <id column="user_id" property="userId"/>
        <result column="nick_name" property="nickName"/>
        <result column="nick_pic" property="nickPic"/>
        <result column="content" property="content"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="balance" property="balance"/>
        <result column="fans_num" property="fansNum"/>
        <result column="focus_num" property="focusNum"/>
        <result column="address" property="address"/>
        <result column="school" property="school"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>
    <select id="testUserList" resultType="com.flrjcx.xypt.common.model.param.common.UserVo" resultMap="userModel">
SELECT user_id,
       nick_name,
       nick_pic,
       content,
       sex,
       birthday,
       phone,
       email,
       account,
       password,
       balance,
       fans_num,
       focus_num,
       address,
       school,
       create_time,
       update_time,
       status
FROM   users
    </select>
</mapper>
