<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flrjcx.xypt.mapper.ErrorLogConsumerMapper">

    <insert id="insertErrorLog" parameterType="com.flrjcx.xypt.common.model.domain.log.ErrorLog">
        INSERT INTO
        error_log(
            error_name,
            error_class,
            error_method,
            error_line_number,
            error_stack_trace,
            error_message,
            error_service_host,
            error_service_ip,
            error_param,
            error_uri
        )
        VALUES(
            #{errorName},
            #{errorClass},
            #{errorMethod},
            #{errorLineNumber},
            #{errorStackTrace},
            #{errorMessage},
            #{errorServiceHost},
            #{errorServiceIp},
            #{errorParam},
            #{errorUri}
        )
    </insert>
</mapper>
