<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flrjcx.xypt.mapper.ManageUserMapper">
    <sql id="allManagerInfo">
        manager_id,
        nick_name,
        nick_pic,
        manager_account,
        manager_password
    </sql>

    <sql id="allUserInfo">
        user_id,
        nick_name,
        nick_pic,
        content,
        sex,
        birthday,
        phone,
        email,
        account,
        password,
        balance,
        fans_num,
        focus_num,
        address,
        school,
        create_time,
        update_time,
        status,
        privacy_setting
    </sql>

    <sql id="manageUserInfo">
        user_id,
        nick_name,
        account,
        sex,
        birthday,
        phone,
        email
    </sql>

    <select id="getUserList" resultType="com.flrjcx.xypt.common.model.param.common.Users">
        select
        <include refid="manageUserInfo"></include>
        from users
    </select>

    <select id="getUserListByStatus" resultType="com.flrjcx.xypt.common.model.param.common.Users">
        select
        <include refid="manageUserInfo"></include>
        from users
        <where>
            <if test="status != null">
                and
                status = #{status}
            </if>
        </where>
    </select>

    <select id="getUserInfo" resultType="com.flrjcx.xypt.common.model.param.common.Users">
        select
            <include refid="allUserInfo"></include>
        from users
        <where>
            user_id = #{userId}
        </where>
    </select>

    <update id="updateUser">
        update users
        <trim prefix="set" suffixOverrides=",">
            <if test="nickName != null"> nick_name = #{nickName}, </if>
            <if test="nickPic != null"> nick_pic = #{nickPic}, </if>
            <if test="content != null"> content = #{content}, </if>
            <if test="sex != null"> sex = #{nickName}, </if>
            <if test="birthday != null"> birthday = #{birthday}, </if>
            <if test="phone != null"> phone = #{phone}, </if>
            <if test="email != null"> email = #{email}, </if>
            <if test="account != null"> account = #{account}, </if>
            <if test="password != null"> password = #{password}, </if>
            <if test="balance != null"> balance = #{balance}, </if>
            <if test="fansNum != null"> fans_num = #{fansNum}, </if>
            <if test="focusNum != null"> focus_num = #{focusNum}, </if>
            <if test="address != null"> address = #{address}, </if>
            <if test="school != null"> school = #{school}, </if>
            <if test="createTime != null"> create_time = #{createTime}, </if>
            <if test="updateTime != null"> update_time = #{updateTime}, </if>
            <if test="status != null"> status = #{status}, </if>
            <if test="privacySetting != null"> privacy_setting = #{privacySetting} </if>
        </trim>
        where user_id = #{userId}
    </update>

    <update id="deleteUser">
        update users
        set status = 2
        where user_id = #{userId}
    </update>
</mapper>
